<%- include("partials/header"); -%>
    <h2>Write-up.</h2>


    <h4>What We Have Learned</h4>
    <p></p>
    <p> <%= writeupContent %> </p>
    <p></p>
    <p> <%= writeupContent2 %> </p>
    <p></p>
    <p> <%= thanks %> </p>


<%- include("partials/footer"); -%>
